<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mydemo.demo.modules.sys.login.mapper.LoginMapper">
    <sql id="tableName">
        sys_user
    </sql>
    <!-- 字段 -->
    <sql id="Field">
		login_id,
		username,
		password,
		phone
	</sql>

    <resultMap id="loginInfo" type="com.mydemo.demo.modules.sys.login.entity.DTO.LoginDTO">
        <id property="loginId" column="login_id" javaType="java.lang.String"/>
        <result property="username" column="username" javaType="java.lang.String"/>
        <result property="password" column="password" javaType="java.lang.String"/>
        <result property="phone" column="phone" javaType="java.lang.String"/>
    </resultMap>

    <select id="login" parameterType="java.lang.String" resultMap="loginInfo">
        select <include refid="Field"></include> from <include refid="tableName"></include>
        where  username = #{username} or phone = #{username}
    </select>
</mapper>